{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'seller-static/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="{% static 'seller-static/css/style.css' %}" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS-->
    <link href="{% static 'seller-static/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- js-->
    <script src="{% static 'seller-static/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'seller-static/js/modernizr.custom.js' %}"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
        rel="stylesheet">
    <!--//webfonts-->

</head>

<body>
    <div class="main-content">
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page login-page ">
                <h2 class="title1">Seller Login</h2>
                <div class="widget-shadow">
                    <div class="login-body">
                        <form method="post">
                            {% csrf_token %}
                            <input type="email" class="user" name="email" placeholder="Enter Your Email" required="">
                            <input type="password" name="password" class="lock" placeholder="Password" required="">
                            <div class="forgot-grid">
                                <label class="checkbox">
                                    {{msg}}
                                </label>
                                <div class="forgot">
                                    <a href="#">forgot password?</a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <input type="submit" name="Sign In" value="Sign In">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--scrolling js-->
    <script src="{% static 'seller-static/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'seller-static/js/scripts.js' %}"></script>
    <!--//scrolling js-->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'seller-static/js/bootstrap.js' %}"> </script>
    <!-- //Bootstrap Core JavaScript -->

</body>

</html>